button, .btn {
  cursor: pointer;
}

.btn {
  border-radius: 2px;
  background-color: map-get($colors, blue);
  color: #fff;
  text-transform: uppercase;
  padding: 12px;
  transition: .2s;
  font-size: 1rem;
  line-height: 1rem;
  &:hover {
    opacity: 0.8;
    color: #fff;
  }
}
.btn-secondary {
  background: none;
  border: 1px solid map-get($colors, blueAccent);
  color: map-get($colors, blueAccent);
  &:hover {
    background-color: map-get($colors, blueLight);
    border: 1px solid map-get($colors, blueLight)
  }
}

.btn--campaign {
  background-color: map-get($colors, green);
  color: rgba(0,0,0,0.75);
  &:hover {
    opacity: 0.8;
    color: rgba(0,0,0,0.55);
  }
}
