button {
  background: 0;
  border: 0;
  &:disabled {
    cursor: not-allowed;
  }
}

button, .btn {
  cursor: pointer;
}

.btn {
  border-radius: 100px;
  background-color: map-get($colors, blue);
  color: #fff;
  text-transform: uppercase;
  padding: 0.66rem 1.66rem;
  transition: .2s;
  font-size: 1.1rem;
  &:hover {
    opacity: 0.8;
    color: #fff;
  }
}

.btn-primary {
  border: 0;
  &:hover {
    background-color: map-get($colors, blueLight);
  }
  &:active {
    background-color: map-get($colors, blueAccent);
  }
}
