a.card:hover {
  text-decoration: none;
}
.card {
  border-color: #eee;
  border-radius: 2px;
}

.card__icon {
  font-size: 1rem;
  margin-right: 0.33em;
}

.card--shadow:hover {
  -webkit-box-shadow: 0px 0px 100px 0 rgba(0,0,0,0.075);
-moz-box-shadow: 0px 0px 100px 0 rgba(0,0,0,0.075);
box-shadow: 0px 0px 100px 0 rgba(0,0,0,0.075);
  transition: 0.5s;
}
