@import "~hamburgers/dist/hamburgers";
.hamburger {
  z-index: 20;
}
.hamburger:focus {
  outline: 0;
}
.hamburger, .hamburger-box {
  width: 24px;
  height: 24px;
  padding: 0;
}
.hamburger-box {
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background: map-get($colors, blue);
  width: 20px;
  height: .2em;
}
.hamburger-inner {
  margin-top: 0;
}
.hamburger-inner::before {
  top: -9px;
}

.hamburger-inner::after {
  bottom: -9px;
  width: 14px;
  right: 0;
}

.is-active .hamburger-inner::after {
  width: 20px;
}
