.header {
  height: 100%;
  @include media-breakpoint-down(md) {
    border-bottom: 1px solid map-get($colors, greyLight);
  }
  @include media-breakpoint-up(md) {
    border-right: 1px solid map-get($colors, greyLight);
  }
  svg {
    fill: none;
  }
}
