.material-icons {
  display: inline-flex;
  vertical-align: middle;
}

.icon-molecule {
  svg { color: map-get($colors, greyLight); fill: map-get($colors, greyLight) !important; stroke: map-get($colors, greyLight) !important; height: 48px; margin: auto; }
}
