.ql-toolbar.ql-snow, .ql-container {
  font-family: 'Barlow', sans-serif !important;
}

.ql-toolbar {
  border-radius: 4px 4px 0 0;
}

.ql-editor {
  border-radius: 0 0 4px 4px;
  min-height: 240px;
}
