// nav text
.nav ul li, .nav ul li a {
  font-size: 0.95rem;
  font-weight: normal;
}

// nav
.nav {
  transition: 0.25s;
  overflow: hidden;
  // opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  height: 0;
}
@include media-breakpoint-down(md) {
  .nav--visible {
    transform: scaleY(1);
    height: 100%;
    padding: 1.5rem 0 0;
  }
}
.nav ul {
  list-style-type: none;
  padding:0;
  margin:0;
}
.nav ul li {
  list-style-type: none;
  margin: 0 0 1rem;
}
.nav ul li:last-child {
  margin:0;
}
.nav > ul > li > ul {
  padding: 0.75rem 0 0 0.5rem;
  border-left: 2px solid #eee;
}

@include media-breakpoint-up(md) {
  .nav {
    transform: none;
    height: auto;
    overflow: auto;
  }
  .nav ul li {
    margin: 0 0 0.5rem;
  }
  .nav > ul > li {
    float: left;
    margin: 0 1.5rem 0 0;
  }
  .nav > ul > li > ul {
    border: 0;
    padding:0;
    position: absolute;
    opacity: 0;
    visibility:hidden;
    transition: 0.2s;
    background: #fff;
    padding: 0.66rem 0.84rem;
    border: 1px solid #eee;
    border-radius: 2px;
    z-index:2;
  }
  .nav > ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
  }
}
