.react-tabs--edit-drug {
  .react-tabs__tab-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    .react-tabs__tab {
      &:before {
        content: "";
        position: absolute;
        height: 3px;
        border-radius: 10px;
        bottom: 0;
        left: 50%;
        width: 0;
        background: map-get($map: $colors, $key: blue);
        transition: .16s;
      }
      cursor: pointer;
      padding: 0 0 1rem;
      display: inline-flex;
      outline: 0;
      margin: 0 1.92rem 0 0;
      text-transform: uppercase;
      color: map-get($map: $colors, $key: gray);
      position: relative;
     &.react-tabs__tab--selected {
       &:before {
        width: 100%;
        left: 0;
       }
       color: map-get($map: $colors, $key: blue);
       font-weight: medium;
     }
    }
    .react-tabs__tab:last-child {
      margin-right: 0;
    }
  }
}

.react-tabs--react-select-plus {
  z-index: 24;
  .react-tabs__tab-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: .32em;
    flex-wrap: nowrap;
    overflow-y: auto;
    margin: 0;
    border-bottom: .096rem solid map-get($map: $colors, $key: grayLighter)
  }
  .react-tabs__tab {
    padding: 0.64em 1.72em 0.64em;
    white-space: nowrap;
    cursor: pointer;
    color: map-get($map: $colors, $key: rockBlue);
    text-transform: uppercase;
    &.react-tabs__tab--selected {
      position: relative;
      color: map-get($map: $colors, $key: blue);
      &:after {
        content: "";
        width: 100%;
        height: 3px;
        border-radius: 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: map-get($map: $colors, $key: blue);
        animation: slide .16s cubic-bezier(1, 0, 0, 1);
      }
    }
  }
  
  @keyframes slide {
    from {
      width: 0;
      left: 50%;
    }
    to {
      width: 100%;
    }
  }
  
  
  .react-tabs__tab-panel--selected {
    animation: slide infinite;
  }
}
