.spinner-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 36px;
  height: 36px;
  background: url('../img/logos/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  animation-name: spin;
  animation-duration: 768ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  margin: auto;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}