.animate-reveal--up {
  animation-name: revealUp;
  animation-duration: 0.16s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

@keyframes revealUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-reveal--up { 
  animation-name: revealUp; 
  animation-duration: 0.16s; 
  animation-iteration-count: 1; 
  animation-timing-function: ease-out; 
} 
 
.animate-grow { 
  animation-name: grow; 
  animation-duration: 0.16s; 
  animation-iteration-count: 1; 
  animation-timing-function: ease-out; 
} 
 
@keyframes revealUp { 
  from { 
    transform: translateY(100%); 
    opacity: 0; 
  } 
  to { 
    transform: translateY(0); 
    opacity: 1; 
  } 
} 
 
@keyframes grow { 
  from { 
    transform: scaleY(0); 
    opacity: 0; 
  } 
  to { 
    transform: scaleY(100%); 
    opacity: 1; 
  } 
} 
