/* base */
html {
	max-width:100%;
	overflow-x:hidden;
}
body {
	background-color: #fff;
  font-size: 14px;
}
@include media-breakpoint-down(md) {
  .prevent-scroll {
    overflow-y: hidden;
    height: 100vh;
  }
}

::selection {
	background: map-get($colors, blueAccent); /* WebKit/Blink Browsers */
	color: #fff;
}
::moz-selection {
  background: map-get($colors, blueAccent); /* WebKit/Blink Browsers */
	color: #fff;
}

.flex-1 {
  flex: 1;
}
