/* base */
html {
	max-width:100%;
	overflow-x:hidden;
}
body {
	background-color: #fff;
  font-size: 14px;
}

::selection {
	background: map-get($colors, blueAccent); /* WebKit/Blink Browsers */
	color: #fff;
}
::moz-selection {
  background: map-get($colors, blueAccent); /* WebKit/Blink Browsers */
	color: #fff;
}
