$colors: (
  blue:   #00adee,
  blueLight: #4cf,
  blueLighter: #E0F7FA,
  blueAccent: #1DC0DC,
  pink: #ec297b,
  pinkLight: #f06292,
  pinkLighter: #F2ACC4,
  green: #4FFF88,
  grey:  #9E9E9E,
  greyLight: #eee,
  greyLighter: #fafafa,
  greyDark: #424242,
  greyDarker: #222,
);

@each $value in $colors {
  .text-#{nth($value, 1)} {
    color: nth($value, 2);
  }
  .bg-#{nth($value, 1)} {
    background-color: nth($value, 2);
  }
  .btn-#{nth($value, 1)} {
    background-color: nth($value, 2);
  }
  .badge-#{nth($value, 1)} {
    background-color: nth($value, 2);
  }
}
