@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-light-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

html {
  font-size: 14px;
}

@include media-breakpoint-up(md) {
  html {
    font-size: 16px;
  }
}

html, body {
  font-family: 'Barlow', sans-serif;
  font-weight: normal;
}
html, body, p {
  color: map-get($colors, greyDark);
}
p, ul, li, a {
  line-height: 1.8;
}
p small {
  font-size: 14px;
}
@include media-breakpoint-up(md) {
  p, ul, li, a {
    font-size: 1rem;
  }
  p, p > em {
    font-size: 1rem;
  }
};

a:hover, .text-hover:hover {
  text-decoration: none;
  color: map-get($colors, blueLight) !important;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gilroy' !important;
	font-weight: 300;
  line-height: 1.25;
  letter-spacing: 1px;
}

h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
  letter-spacing: 2px;
}

// h1 {
//   font-size: 2.5rem;
// }
// h2 {
//   font-size: 2rem;
// }
// h3 {
//   font-size: 1.75rem;
// }
// h4 {
//   font-size: 1.5rem;
// }
// h5 {
//   font-size: 1.25rem;
// }
// h6 {
//   font-size: 1rem;
// }
